body {
	background-color: #ED1C24;
	margin: 0 auto;
	text-align: center;
	font-family: 'SinkinSans', 'CaviarDreams';
	color: white;
}
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf');
}
@font-face {
font-family: 'SinkinSans';
	src: url('SinkinSans-200XLight.otf');
}
h1 {
	font-size: 60px;
	margin-top: 25px;
}
.glyphicon:hover {
	color: #646565;
	cursor: pointer;
}
p {
	font-size: 3em;
	z-index: 999;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
#session-settings {
	font-size: 1.5em;
	height: 100%;
}
#session {
	padding-top: 30px;
}
#time {
	padding-top: 5px;
}
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.btn {
	font-size: 25px;
	padding-top: -5px;
	padding-bottom: -5px;
	min-width: 100px;
	color: #ED1C24;
	background-color: white;
	margin: 20px;
}
.btn:hover {
	background-color: white;
	color: #646565;
}
.modalbtn {
	font-size: 15px;
	font-weight: bold;
	color: #ED1C24;
}
.modal {
	top: 210px;
	color:#ED1C24;
}
.progress-pie-chart {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	margin: 30px auto 30px;
}
.progress-pie-chart.gt-50 {
	background-color: #646565;
}
.ppc-progress {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 140px);
	top: calc(50% - 140px);
	width: 280px;
	height: 280px;
	clip: rect(0, 280px, 280px, 140px);
}
.ppc-progress .ppc-progress-fill {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 140px);
	top: calc(50% - 140px);
	width: 280px;
	height: 280px;
	clip: rect(0, 140px, 280px, 0);
	background: #646565;
	border-color: #ED1C24;
	transform: rotate(0deg);
}
.gt-50 .ppc-progress {
	clip: rect(0, 140px, 280px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
	clip: rect(0, 280px, 280px, 140px);
	background: white;
}
.ppc-percents {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 135px);
	top: calc(50% - 135px);
	width: 270px;
	height: 270px;
	background: #ED1C24;
	text-align: center;
	display: table;
}
.ppc-percents span {
	display: block;
	font-size: 2.6em;
	color: white;
}
.pcc-percents-wrapper {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (min-width: 320px) and (max-width: 374px){
	h1 {
		font-size: 3em;
	}
	#session-settings {
		font-size: 2em;
		margin-top: 0px;
	}
	.btn {
		margin: 0 10px 0 10px;
		min-width: 80px;
	}
}

@media screen and (min-width: 375px) and (max-width: 480px){
	h1 {
		font-size: 3.5em;
	}
	#session-settings {
		font-size: 2.5em;
		margin-top: 0px;
	}
	.btn {
		margin: 0 10px 0 10px;
	}
}

@media screen and (min-width: 481px) {
	.themes {
		position: absolute;
		top: 150px;
	}
}