body {
	background-color: #ED1C24;
	margin: 0 auto;
	text-align: center;
	font-family: "Lato", "Open Sans";
	color: white;
}
h1 {
	font-size: 60px;
	margin-top: 25px;
}
#session-settings {
	font-size: 1.5em;
	height: 100%;
}
.glyphicon:hover {
	color: #646565;
}
p {
	font-size: 3em;
	z-index: 999;
}
#session {
	padding-top: 30px;
}
#time {
	padding-top: 5px;
}
.font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.btn {
	font-size: 25px;
	padding-top: -5px;
	padding-bottom: -5px;
	min-width: 100px;
	color: #ED1C24;
	background-color: white;
	margin: 20px;
}
.btn:hover {
	background-color: white;
	color: #646565;
}
.modalbtn {
	font-size: 15px;
	font-weight: bold;
	color: #ED1C24;
}
.modal {
	top: 210px;
	color:#ED1C24;
}
.progress-pie-chart {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-color: white;
	position: relative;
	margin: 30px auto 30px;
}
.progress-pie-chart.gt-50 {
	background-color: #646565;
}
.ppc-progress {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 140px);
	top: calc(50% - 140px);
	width: 280px;
	height: 280px;
	clip: rect(0, 280px, 280px, 140px);
}
.ppc-progress .ppc-progress-fill {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 140px);
	top: calc(50% - 140px);
	width: 280px;
	height: 280px;
	clip: rect(0, 140px, 280px, 0);
	background: #646565;
	border-color: #ED1C24;
	transform: rotate(0deg);
}
.gt-50 .ppc-progress {
	clip: rect(0, 140px, 280px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
	clip: rect(0, 280px, 280px, 140px);
	background: white;
}
.ppc-percents {
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 135px);
	top: calc(50% - 135px);
	width: 270px;
	height: 270px;
	background: #ED1C24;
	text-align: center;
	display: table;
}
.ppc-percents span {
	display: block;
	font-size: 2.6em;
	color: white;
}
.pcc-percents-wrapper {
	display: table-cell;
	vertical-align: middle;
}
